@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*{
    font-family: 'Old Standard TT', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background-color: #c0c1c4;
    border-radius: 5px;
}

body{
    background-color:#f0f2f5;
    overflow: hidden;
}
.container{
    max-width: 1300px !important;
    margin: 0 auto;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    background-color: #ffffff;
    z-index: 1000;
    width: 100%;
}

.left_navbar{
    align-items: center;
    width: 320px;
}
.fb_link{
  padding: 0 1rem;
}
.search_bar {
    padding: .5rem 1rem;
    background-color: #f0eeee;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.search_bar button{
    border: none;
    outline: none;
    background: transparent;
   
}
.search_bar i{
    font-size: 1rem;
    padding-right: .3rem;
}

.left_navbar_input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}
.small{
    display: none;
}

.center_navbar{
    max-width: 500px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.center_navbar_btn{
    padding: .5rem 2rem;
    border: none;
    outline: none;
    background: transparent;
}
.center_navbar_btn:hover{
    background-color: #dadbdd;
    border-radius: 5px;
}
.center_navbar_btn.active{
    border-bottom: 3px solid #1b74e4;
    color: #1b74e4;

}
.center_navbar_btn.active:hover{
    background-color:#ffffff;
}

.center_navbar i{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.right_navbar{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    flex-shrink: 0;
}

.right_navbar_btn{
    padding: .5rem .7rem;
    border-radius: 2rem;
    outline: none;
    background-color: #ecf3ff;
    margin-bottom: .3rem;
    border: none;
    margin: 0 .2rem;
    transition: .5s;
}
.right_navbar_btn:hover{
    background-color: #dadbdd;
}

.right_navbar_btn i{
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
}
.dnt,
.dnts{
    display: none;
}
.myid img{
    border-radius: 1.5rem;
    border: none;
}

.left_sidebar{
    height: 98vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 2.5rem;
}

.left_sidebar_nav {
    width: 100%;
    padding-bottom: .7rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 3px;
}
.left_sidebar_nav:hover{
    background-color: #d0d1d4;
    border-radius: 5px;
}

.left_sidebar_nav a{
    text-decoration: none;
    text-align: center;
}
.left_sidebar_nav img{
    border-radius: 2rem;
}

.left_sidebar_nav i{
    font-size: 1rem;
    color: #1b74e4;
}

.left_sidebar_nav span{
    padding-left: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.see_more{
    width: 5.6rem;
   border: none;
   display: flex;
   align-items: center;
   padding-top: .8rem;
   padding-bottom: .8rem;
   font-weight: 700;
}
.see_more span{
    font-size: 1rem;
}
.see_more i{
    font-size: 1.2rem;
    border-radius: 1rem;
}

.center{
    padding-top: 4rem;
    width: 500px;
    height: 99vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.headline_profile{
    background-color: #ffffff;
    border-radius: 10px;
}

.profile1{
    display: flex;
    align-items: center;
}
.profile1 img{
    width: 40px;
    border-radius: 2rem;
}
.profile1 .get{
    width: 100%;
    background-color:#f0eeee;
    margin: .9rem .5rem;
    display: flex;
    align-items: center;
    padding: .3rem .6rem;
    border-radius: 1rem;
}
.get input{
    padding: .3rem 0;
    flex: 1;
    padding-left: .9rem;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}
.get:hover{
    background-color: #e6e6e6;
}

.media{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.media button{
    padding: .3rem .5rem;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.media button:hover{
    background-color:#e6e6e6;
    border-radius: 5px;
}
.media button .red{
    color: #ff0000;
    font-size: 1.5rem;
    padding-right: .4rem;
}
.media button .green{
    color: #26e226;
    font-size: 1.5rem;
    padding-right: .4rem;
}
.media button .orange{
    color: #ffa500;
    font-size: 1.5rem;
    padding-right: .4rem;
}
.center_post{
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 10px;
}

.center_name{
    padding-bottom: .8rem;
    padding-left: 1rem;
}
.center_name img{
    width: 40px;
   border-radius: 2rem;
}
.info{
    padding-left: 1rem;
    padding-right: 9rem;
    text-decoration: none;
}
.info p{
    color: #000000;
    font-weight: 700;
}
.info p:hover{
    text-decoration: underline;
}
.info div span{
    color: #95979b;
    font-weight: 700;
}
.info div span:hover{
    text-decoration: underline;
}
.info div{
    font-size: .9rem;
}

.center_name .xmark i{
    color: #95979b;
    padding: 0 .5rem;
    font-size: 1.2rem;
}

.user_writeup{
    width: 90%;
    padding-left: 1rem;
}

.user_post_cont img{
    width: 100%;
}
.like_stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 1rem;
    text-align: center;
    font-size: 15px;
}
.reactions{
    align-items: center;
}
.reactions .like{
    color: white;
    background-color:#1b74e4;
    padding: 2px;
    border-radius: 1rem;
}
.reactions .heart{
    color: white;
    background-color: #fa778f;
    padding: 2px;
    border-radius: 1rem;
    margin: -5px;
}
.reactions span{
    font-weight: 500;
    padding-left: .5rem;
}
.reactions span:hover{
    text-decoration: underline;
}
.comments{
    font-weight: 500;
    color: #95979b;
    font-size: 1rem;
}
.comments:hover{
    text-decoration: underline;
}

.user_likes{
    display: flex;
    justify-content: space-around;
   padding: .3rem 0;
}
.user_likes button{
    display: flex;
    padding: .5rem 1.5rem;
    border: none;
    background: transparent;
    font-size: 1rem;
    align-items: center;
}
.user_likes button:hover{
    background-color:#d3d0d0;
    border-radius: 5px;
}
.user_likes i{
   padding: 0 .5rem;
}
.footer{
    padding: 1rem;
}
.owner_profile{
    display: flex;
    align-items: center;
}
.owner_profile img{
    width: 35px;
    border-radius: 1rem;
    margin-right: .3rem;
}
.write_comment{
    background-color:#d4d4d4;
    padding: .3rem 0.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}
.write_comment input{
    flex: 1;
    padding: .3rem;
    border: none;
    outline: none;
    background: transparent;
    color: #000000;
    font-weight: 600;
}
.write_comment button{
    border: none;
    padding: .2rem .4rem;
    margin: 0 .1rem;
    background: transparent;
}
.write_comment button:hover{
    background-color:#b5b6b8;
    border-radius: 1rem;
}
.write_comment button i{
    font-size: 1rem;
}

.right_sidebar{
    padding-top: 5rem;
    /* padding-right: 1rem; */
    width: 350px;
    height: 99vh;
    padding-left: .7rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sponsor_cont{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.sponsors{
    display: flex;
    align-items: center;
    padding-bottom: .2rem;
    padding-top: .5rem;
    cursor: pointer;
}
.sponsors:hover{
    background-color: #dadbdd;
    border-radius: 5px;
}
.sponsor_cont h3{
    padding-left: .7rem ;
    padding-bottom: .5rem;
    font-weight: 700;
}

.sponsors a{
    padding-right: 1rem;
}

.sponsors a img{
    width: 7rem;
    border-radius: 5px;
}

.about p{
    font-weight: 700;
}

.about a{
    text-decoration: none;
    color: #95979b;
    font-weight: 700;
}

.border{
    border: 1px solid #d3d0d0;
}
.friend_request{
    padding-bottom: .5rem;
}
.request{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.request div{
    color:  #797d83;
    font-weight: 700;
}
.request span{
    color: #1b74e4;
    font-weight: 700;
    cursor: pointer;
}
.profiles_{
    display: flex; 
    padding-bottom: .5rem;
    padding: .6rem 1rem;
}

.profiles_:hover{
    background-color: #d0d1d4;
    border-radius: 5px;
}

.profiles_ img{
    border-radius: 1rem;
    width: 40px;
  
}
.details{
    padding-left: 1rem;
    padding-bottom: .4rem;
    
}
.flex_ p{
    padding-right: 5rem;
    font-weight: 700;
}
.flex_ span{
    font-size: 12px;
    color: #797d83;;
}
.details .mutual{
    font-weight: 400;
    font-size: 12px;
    color: #797d83;
}
.confirm{
    background-color: #1b74e4;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    padding: .3rem .7rem;
    border: none;
    border-radius: 5px;
}
.del{
    background-color:#dadbdf;
    font-weight: 700;
    font-size: 1rem;
    font-weight: 700;
    padding: .3rem .7rem;
    border: none;
    border-radius: 5px;
}
.del:hover{
    background-color:#c2c3c7;
}

.contacts_cont_{
    padding: .8rem 0;
}

.contacts_cont_ p{
    font-weight: 800;
    font-size: 1rem;
    color: #797d83;;
}
.contacts_cont_ span i{
    padding: 0 .5rem;
}

.contact_name img{
    border-radius: 1rem;

}
.contact_name span{
    padding-left: 1rem;
    font-weight: 700;
}
.contact_name{
    display: flex; 
    align-items: center;
    padding-top: .2rem;
    
}
.contact_name:hover{
    background-color:#dadbdf;
}


@media(max-width: 1198px) {
    .container{
        max-width: 1200px !important;
        margin: 0 auto;
    }
    .left_sidebar{
         display: none;
    }
    .center{
        margin-left: 2rem;
    }
    .right_sidebar{
     margin-left: 2rem;
    }
    .left_navbar_input{
        display: none;
    }
    .right_navbar .dnt{
        display: flex;
    }
    .dnts{
        display: flex;
    }

    .right_navbar .do{
        display: none;
    }
    .ri-gamepad-line{
        display: none;
    }
}
@media(max-width: 933px) {
    .container{
        max-width: 900px !important;
        margin: 0;
        margin-left: 5rem;
        
    }
    .right_sidebar{
        display: none;
    }
    main{
        padding-top: .4rem;
    }

    .small{
        display: flex;
        font-size: 1.5rem;
        padding-left: .5rem;
    }
    .center_navbar button{
        display: none;
    }
}

@media(max-width: 516pc) {
    .container{
        margin: 0;
    }
}