@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*{
    font-family: 'Old Standard TT', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ecf3ff;
    overflow: hidden;
}
.container{
    max-width: 1300px !important;
    margin: 0 auto;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    background-color: #ffffff;
    z-index: 1000;
}

.left_navbar{
    align-items: center;
    width: 320px;
}
.fb_link{
  padding: 0 1rem;
}
.search_bar {
    padding: .5rem 1rem;
    background-color: #f0eeee;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.search_bar button{
    border: none;
    outline: none;
    background: transparent;
   
}
.search_bar i{
    font-size: 1rem;
    padding-right: .3rem;
}

.left_navbar_input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.center_navbar{
    max-width: 500px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.center_navbar_btn{
    padding: .5rem 2rem;
    border: none;
    outline: none;
    background: transparent;
}
.center_navbar_btn:hover{
    background-color: #dadbdd;
    border-radius: 5px;
}
.center_navbar_btn.active{
    border-bottom: 3px solid #1b74e4;
    color: #1b74e4;

}
.center_navbar_btn.active:hover{
    background-color:#ffffff;
}

.center_navbar i{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.right_navbar{
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    flex-shrink: 0;
}

.right_navbar_btn{
    padding: .5rem .7rem;
    border-radius: 2rem;
    outline: none;
    background-color: #ecf3ff;
    margin-bottom: .3rem;
    border: none;
    margin: 0 .2rem;
    transition: .5s;
}
.right_navbar_btn:hover{
    background-color: #dadbdd;
}

.right_navbar_btn i{
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
}

.myid img{
    border-radius: 1.5rem;
    border: none;
}

.left_sidebar{
    height: 98vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 2.5rem;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background-color: #c0c1c4;
    border-radius: 5px;
}

.left_sidebar_nav {
    width: 100%;
    padding-bottom: .7rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 3px;
}
.left_sidebar_nav:hover{
    background-color: #d0d1d4;
    border-radius: 5px;
}

.left_sidebar_nav a{
    text-decoration: none;
    text-align: center;
}
.left_sidebar_nav img{
    border-radius: 2rem;
}

.left_sidebar_nav i{
    font-size: 1rem;
    color: #1b74e4;
}

.left_sidebar_nav span{
    padding-left: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.see_more{
    width: 5.6rem;
   border: none;
   display: flex;
   align-items: center;
   padding-top: .8rem;
   padding-bottom: .8rem;
   font-weight: 700;
}
.see_more span{
    font-size: 1rem;
}
.see_more i{
    font-size: 1.2rem;
    border-radius: 1rem;
}